/* ->(0) Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: font;
  src: url(../trash/font.ttf);
}
/* ->(0) Global */
html,
body {
  height: 100%;
  margin: 0;
  background: #1e1e1e;
  font-family: font;
}
.main-container {
  height: 140vh;
}
/* ->(1) Header  */
.console-container {
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  line-height: 20px;
  height: 80%;
  width: 100%;
  display: block;
  position: top;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
.instructions {
  position: relative;
  color: #d324ff;
  width: auto;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: white;
}
/* -> (1) Main */
h2 {
  color: #1e8449;
  text-align: center;
}
/* -> (2) Buttons-container */
.buttons-primary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
.buttons-secondary-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
/* -> (2) Buttons-style */
.button-type-1 {
  width: 300px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.button-front {
  font-family: font;
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button-type-1:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}
.button-type-1:hover .button-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button-type-1:active .button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.button-type-1:hover .button-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button-type-1:active .button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-type-1:focus:not(:focus-visible) {
  outline: none;
}
.button-type-2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding-top: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-type-2:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-type-2 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-type-2 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.button-type-2:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* ->(3) Notification of copy element */
.green-alert{
  background: #C5F3D7;
  padding: 20px 40px;
  min-width: 100px;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #2DD06D;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.green-alert.green-showAlert{
  opacity: 1;
  pointer-events: auto;
}
.green-alert.green-show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.green-alert.green-hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.green-alert .fa-check-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #29AF5D;
  font-size: 30px;
}
.green-alert .green-msg{
  padding: 0 20px;
  font-size: 18px;
  color: #29AF5D;
  font-family: 'Poppins', sans-serif;
}
.green-alert .green-close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #94EAB9;
  padding: 20px 18px;
  cursor: pointer;
}
.green-alert .green-close-btn .fas{
  color: #29AF5D;
  font-size: 22px;
  line-height: 40px;
}
/* ->(3) Notification of error element */
.orange-alert{
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 100px;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.orange-alert.orange-showAlert{
  opacity: 1;
  pointer-events: auto;
}
.orange-alert.orange-show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.orange-alert.orange-hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.orange-alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}
.orange-alert .orange-msg{
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
  font-family: 'Poppins', sans-serif;
}
.orange-alert .orange-close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}
.orange-alert .orange-close-btn:hover{
  background: #ffc766;
}
.orange-alert .orange-close-btn .fas{
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}
/* ->(2)-Text-Areas */
textarea {
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  background: #1e1e1e;
  color: #ffffff;
  border: none;
  outline: none; 
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0px;
}

/* ->(1)-Footer */
section.footer-container {
  font-family: "Poppins", sans-serif;
  font-family: 18px;
  position: relative;
  left: 0;
  bottom: 12px;
  width: 100%;
  background: #2d2d2d;
  padding-top: 60px;
}
footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
}
footer > img {
  margin-top: 10px;
}
footer {
  color: #9e9e9e;
}
footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}
footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}
.company{
  text-decoration: none;
  color:#9e9e9e;
}
footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}
.links > a {
  text-decoration: none;
  color: white;
}
.legal {
  font-size: 18px;
}
.legal > a {
  margin: 0 4px;
}
.legal > span {
  margin-right: 10px;
}
footer.bottom .links {
  display: flex;
  gap: 18px;
}
footer.bottom .links > a {
  font-size: 24px;
}
/* -> (0) Media Querys  */
@media (width < 620px) {
  footer {
    flex-direction: column;
  }
  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }

  .main {
    display: block;
    position: relative;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  .buttons-1 {
    gap: 20px;
  }
}
@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
  .main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  textarea {
    width: 100%;
    height: 400px;
  }
}
@media (width < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }
  footer.top .links {
    grid-template-columns: 1fr;
  }
  footer.bottom {
    align-items: center;
  }
  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}
